<template>
  <div class="queue_container">
    <div class="queue__header">
      <a href="http://qrcoder.ru" target="_blank">
        <img :src="this.qrCodePath"
             class="queue__qr"
             title="QR код">
      </a>
      <h4>Очередь</h4>
    </div>
    <div class="queue__content">
      <div v-for="user in users" :key="user.id" class="queue__item">
        <p>{{ user.name }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Queue',
  props: {
    queueName: {
      type: String,
      required: true
    },
    users: {
      type: Array,
      required: true
    }
  },
  computed: {
    qrCodePath() {
      return `http://qrcoder.ru/code/?${this.queueName}&6&0`;
    }
  }
}
</script>

<style>
.queue_container {
  width: 200px;
}

.queue__header, .queue__content {
  display: flex;
  justify-content: center;
}

.queue__content {
  flex-direction: column;
  align-items: center;
}

.queue__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.queue__qr {
  display: block;
  width: 170px;
  height: 170px;
}
</style>