<template>
  <div class="selected_user">
    <div class="selected_user__content">
      <div class="selected_user__header">
        <p>Selected user</p>
      </div>
      <div class="selected_user__info">
        <p class="selected_user__username">{{name}}</p>
        <p>{{identifier}}</p>
      </div>
    </div>
    <div class="selected_user__btns">
      <button @click="next">Следующий</button>
    </div>
  </div>
</template>

<script>
export default {
  name: "SelectedUser",
  props: {
    queueName: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      identifier: 'identifier',
      name: 'name'
    }
  },
  methods: {
    next() {
      fetch(`http://80.87.96.226:8082/manager/${this.queueName}/next`, {
        method: 'POST'
      }).then(res => res.json())
          .then(user => {
            this.identifier = user.identifier;
            this.name = user.name;
            this.$emit('next');
          });
    }
  }
}
</script>

<style scoped>
.selected_user {
  width: 300px;
}
.selected_user__header, .selected_user__info, .selected_user__btns {
  display: flex;
  justify-content: center;
}
.selected_user__username {
  margin-right: 15px;
}
</style>