<template>
  <div id="app">
    <SelectedUser
        :queueName="queueName"
        @next="getUsers"
    />
    <Queue
        :queue-name="queueName"
        :users="users"
    />
  </div>
</template>

<script>
import Queue from "./components/Queue";
import SelectedUser from "./components/SelectedUser";
export default {
  name: 'App',
  components: {
    Queue,
    SelectedUser
  },
  data() {
    return {
      users: [],
      queueName: 'testQueueDamir'
    }
  },
  mounted() {
    this.getUsers();
  },
  methods: {
    getUsers() {
      fetch(`http://80.87.96.226:8082/manager/${this.queueName}`, {
        method: 'GET'
      }).then(res => res.json())
          .then(users => {
            this.users = users;
          });
    }
  }
}
</script>

<style>
#app {
  display: flex;
  justify-content: center;
}
</style>